<html>
<head>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"


  
    <link rel="stylesheet" type="text/css" href="css/styles.css">

   <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

	<style type="text/css">
		.mainContainetr{
  height: 1400px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}
.banner{
  height: 200px;
  width: 100%;
  background-color:  indigo;
  text-align: center;
  padding: 5px;
  color: white;
  margin: 0 auto;
}

.navigation{
  height: 10px;
  width: 100%;
  text-align: justify;
  text-decoration: none;
  background-color:Aquamarine;
  color: white;
  word-spacing: 35px;
  display: block;
  margin: 0;
  padding: 35px;

}

.footer {
  height: 100px;
  width: 100%;
  text-align: center;
  background: indigo;
}
.postdiv{
  background: Beige;
  border: 1px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  float: left;
  width: 100%;
  
}
	</style>

</head>
<body>
<div class="banner"></div>



    <div class="container-fluit">
    <nav class="navbar navbar-expand-sm navbar-light" style="background: aquamarine;">
  <a class="navbar-brand" style="color: white;" href="/">OJOBE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" <span class=""navbar-toggler-icon"></span></button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
    
      <li class="nav-item active">
        <a class="nav-link" id="nav-linktext" href="/">HOME</a>
      </li>
  
      <li class="nav-item ">
        <a class="nav-link" id="nav-linktext" href="/About">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Contact">CONTACT</a>
      </li>
    </ul> 
    </div> 
    </nav>
  </div>



<div class="mainContainetr">
