<%- include("partials/header.ejs"); %>
<div class="postdiv">
<h1><%=title %></h1>
<p><%=content %></p>



      <button type="button" class="btn btn-dark btn-sm bg-danger" ><i class="fab fa-apple"></i>download</button>
      <button type="button" class="btn btn-dark btn-sm"><i class="fab fa-google-play"></i>upload</button>
      <button type="button" class="btn btn-primary btn-sm"><i class="fab fa-facebook"></i></i></button>
      <button type="button" class="btn btn-primary btn-sm"><i class="fab fa-twitter"></i></i></button>
            <button type="button" class="btn btn-danger btn-sm"><i class="fab fa-linkedin"></i></i></button>
                      <button type="button" class="btn btn-danger btn-sm"><i class="fab fa-pinterest"></i></i></button>
                                <button type="button" class="btn btn-danger btn-sm"><i class="fab fa-quora"></i></i></button>
                                          <button type="button" class="btn btn-danger btn-sm"><i class="fab fa-yahoo"></i></i></button>
                                                    <button type="button" class="btn btn-primary btn-sm"><i class="fab fa-google"></i></i></button>
                                                    
</div>
<%-include("partials/footer.ejs"); %>